@model List<Cours.MVC.Tuto3.Models.Data.Auteur>

<div id="listeAuteurs" class="col col-lg-6 col-lg-offset-1">
    <table class="table table-striped">
        @foreach (var auteur in Model)
        {
            <tr>
                <td>@auteur.Id</td>
                <td>@auteur.Nom</td>
                <td>@auteur.Prenom</td>
            </tr>
        }
    </table>
        
    @Html.ActionLink("Ajouter","Ajouter")
</div>