@model int

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Avec un type</title>
    </head>
    <body>
        <p>La valeur envoyée est <strong>@Model</strong></p>
    </body>
</html>