@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Avec View Data</title>
    </head>
    <body>
        <div>
              <p>la valeur envoyée est : <strong >@ViewData["Texte"]</strong></p>
        </div>
    </body>
</html>