@*@model dynamic*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Avec View Bag</title>
    </head>
    <body>
        <div>
            <p>le texte est : <strong >@ViewBag.Texte</strong></p>
            <p>la valeur envoyée est : <strong>@ViewBag.Valeur</strong></p>
        </div>
    </body>
</html>