@model Cours.MVC.Tuto1.Models.Personne

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Avec un modele</title>
    </head>
    <body>
        <div>
            <h1>Bonjour @Model.Prenom @Model.Nom</h1>  
        </div>
    </body>
</html>